[submodule "zsh/themes/powerlevel9k"]
	path = zsh/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "zsh/themes/powerlevel10k"]
	path = zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
